.userList thead tr th {
  background: var(--form-header_color) !important;
  color: var(--primary-text-color) !important;
  line-height:3rem !important;
  border:  1px solid var(--form-header_color) ;
  padding-left: 1rem !important;
}
table tr {  
  line-height:3rem !important; 
  color: var(--gary-color)  ;
  text-transform: capitalize;
}
table td {
  padding-left: 1rem !important;
  color: var(--gary-color)  ;
  text-transform: capitalize;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-text-color);
  width: auto;
  z-index: 1;
  right: 5px;
}

.dropdown-content span {
  color: var(--gary-color);
  padding: 4px 10px;
  text-decoration: none;
  display: block;
  width: auto;
  text-align: center;
  transition: all ease-in-out 0.2s;
  line-height: 28px;
}

.dropdown-content span:hover {
  transform: scale(1.2);
}



.dropdown:hover .dropdown-content {
  display: block;
}

.userList .dropdown a{
  padding: 0;
  margin: 0 ; 
  text-decoration: none;
}

.userList .filterUser{
  margin-block: -3px;
  position: absolute;
  line-height: 3rem;
  font-size: 0.9rem;
  color: var(--gary-color) !important;
  left: 28px;
}

.userList  .form-select {
  color: var(--gary-color) !important;
}

.status-active {
  background-color: var(--status-active);
  color: var(--primary-text-color);
}

.status-Not-Active {
  background-color: var(--form-header_color);   
  color: var(--primary-text-color);
}
