.title-project{
  color: #4F4F4F;
  margin-left: 1rem;
}

.add-project{
  background-color: #EF9B28;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  margin-right: 2rem;
  border-radius: 2rem;

}