*{
  padding: 0;
  margin: 0;
  font-size: "Inter", sans-serif;
}

:root {
  --primary-color: #EF9B28;
  --background-color: #314a59d4;
  --primary-text-color: #ffffff;
  --gary-color: #999;
  --hover-background-color: #fdcc87;
  --hover-border-color: #fe9300;
  --dark-background-color: #2c3e50; /* Example for dark mode */
  --dark-text-color: #ecf0f1; /* Example for dark mode */
}

/* Auth Background  */
.bg-container {
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/background.png);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* LOGO STYLE */
.logo-container{
  text-align: center;
}
.img-fluid{
  max-width: 100%;
  height: auto;
  width: 31%;
}

/* HEADER TEXT STYLE */
.auth-text-header {
  line-height: 0.2;
  color: var(--primary-color);
  position: relative;
  font-weight: 700;
  font-size: 1.75rem; 
  margin-bottom: 10px;
}
.auth-text-header::first-letter {
  display: inline-block; 
  border-bottom: .1875rem solid; 

}
/* FORM STYLE  */

.form-background {
 background-color: var(--background-color);
}

.form-background ::placeholder {
    color: var(--primary-text-color) !important;
    opacity: 1;
}

.btn-color{
  background-color: var(--primary-color) !important; 
}

.btn-color:hover {
  background-color: var(--hover-background-color)  !important;
  border-color: var(--hover-border-color);
}
.form-background .form-control:focus{ 
  box-shadow: none !important; 
  border-color: var(--primary-color) ;
}

.form-background span {
  border-color: var(--primary-color)  !important ;
}
.form-background i{
  cursor: pointer;
  z-index: 555;
}

/* Add Profile in Register  */
.profile-image {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  margin-inline: auto;
  background-color: #f1f1f1;
  margin-block: 1.5625rem;
}

.profile-image .input-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: .25rem;
  top: 31%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}


.profile-image .profile-image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-image .icon-profile {
  position: absolute;
  top: 4.0625rem;
  left: 4.0625rem;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(49, 89, 81, 0.801);
  color:var(--primary-color);
  cursor: pointer;
  z-index: 2;
  font-size: 1rem;
}
